<!--기본 객체들-->
<!--${#request} , ${#response}, ${#session} , ${#servletContext} , ${#locale}-->
<!-- http://localhost:8080/basic/04basic-objects?paramData=HelloParam -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>식 기본 객체 (Expression Basic Objects)</h1>
<ul>
    <li>request = <span th:text="${#request}"/></li>
    <li>response = <span th:text="${#response}"/></li>
    <li>session = <span th:text="${#session}"/></li>
    <li>servletContext = <span th:text="${#servletContext}"/></li>
    <li>locale = <span th:text="${#locale}"/></li>
</ul>
<!--식 기본 객체 (Expression Basic Objects)-->
<!--request = org.apache.catalina.connector.RequestFacade@25e46305-->
<!--response = org.apache.catalina.connector.ResponseFacade@1262fd5e-->
<!--session = org.apache.catalina.session.StandardSessionFacade@624167c7-->
<!--servletContext = org.apache.catalina.core.ApplicationContextFacade@7f41938a-->
<!--locale = ko_KR-->
<!--스프링 부트 3.0 이상일 경우-->
<!--<li>request = <span th:text="${request}"></span></li>-->
<!--<li>response = <span th:text="${response}"></span></li>-->
<!--<li>session = <span th:text="${session}"></span></li>-->
<!--<li>servletContext = <span th:text="${servletContext}"></span></li>-->
<!--<li>locale = <span th:text="${#locale}"></span></li>-->
<h1>편의 객체</h1>
<ul>
    <li>Request Parameter = <span th:text="${param.paramData}"/></li>
    <li>session = <span th:text="${session.sessionData}"/></li>
    <li>spring bean = <span th:text="${@helloBean.hello('Spring!')}"/></li>
</ul>
<!--편의 객체-->
<!--Request Parameter = HelloParam-->
<!--session = Hello Session-->
<!--spring bean = Hello Spring!-->
<!--스프링 부트 3.0 이상일 경우-->
<!--<li>Request Parameter = <span th:text="${param.paramData}"></span></li>-->
<!--<li>session = <span th:text="${session.sessionData}"></span></li>-->
<!--<li>spring bean = <span th:text="${@helloBean.hello('Spring!')}"></span></li>-->
</body>
</html>